html{
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background: url(/img/mario-bg.png) no-repeat;*
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;*/
  min-height: 100%;
}

.authLoad {
  display: block;
  margin: auto;
  min-height: 100vh;
}

.Typist .Cursor {
  display: inline-block; }
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }